/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Aa]uto[Bb]uild/

.vs/
/data/
/Assets/StreamingAssets/asset_bundle/
/Assets/XLua/Gen/
# *.csproj
# *.sln
*.suo
*.tmp
*.userprefs
*.app
.idea/
*.VC.*
.DS_Store
*.swp

*.log
*.pyc

/Assets/Plugins/Editor/Jetbrains/
/Assets/Plugins/Editor/Jetbrains.meta
/Assets/Plugins/Editor/VSCode.cs
/Assets/Plugins/Editor/VSCode.cs.meta
/Assets/Plugins/Editor.meta
/**/*.csproj
/**/*.sln
*.DotSettings.user

!/Assets/

Assets/StreamingAssets/asset_bundle.meta
Assets/StreamingAssets/build_info
Assets/XLua/Gen.meta

Assets/StreamingAssets
/tmp_abs
/AssetBundles
